# OS
.DS_Store

# backend - Python
__pycache__/
.pytest_cache/
.python-version

# backend - Environment variables
.env
.env.local
.venv/
venv

# frontend - Node.js
node_modules/
.next/
.env.local

# Logs
logs/